# Node Modules
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary Files
*.tmp
*.temp

# Environment Variables
.env
.env.*.local

# Build Output
node_modules/
.next/
out/

# Cache
.vscode/
.idea/
.eslintcache
